.auth-container {
  width: 350px;
  margin: 80px auto;
  padding: 20px;
  box-shadow: 0 0 10px #ccc;
}

.auth-container input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background: #2874f0;
  color: white;
  border: none;
}

.error {
  color: red;
}


.profile-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.profile-card {
  background: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}


.admin-layout {
  display: flex;
}

.sidebar {
  width: 220px;
  min-height: 100vh;
  background: #222;
  color: white;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  margin: 10px 0;
}

.admin-content {
  flex: 1;
  padding: 20px;
}

.stats {
  display: flex;
  gap: 20px;
}

.stat-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
}


.admin-layout {
  display: flex;
  height: 100vh;
}

.admin-sidebar {
  width: 220px;
  background: #222;
  color: white;
  padding: 20px;
}

.admin-sidebar a {
  display: block;
  color: white;
  margin: 10px 0;
}

.admin-content {
  flex: 1;
  padding: 20px;
}


